# Build files
/build

# Qt Creator files
/CMakeLists.txt.user*
/json-rpc-shell.config
/json-rpc-shell.files
/json-rpc-shell.creator*
/json-rpc-shell.includes
/json-rpc-shell.cflags
/json-rpc-shell.cxxflags
